.img-fluid {
max-width: 80%;
height: auto;
}

h5 {
    font-weight: bold;
}
h6 {
    font-style: italic;
}
.carousel {
    width:740px;
    height:460px;
  }

.card {
    width:320px;
    padding: 10px;
}

.row {
    display:flex;
    flex-wrap: wrap;
}
.site-footer {
    background-color:whitesmoke;
    padding: 15px 0;
 }

 